body{
    font-family: roboto;
    background-color: #E5E5E5;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}


.topo{
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #CF2B2B;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 92px;
}

.topo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 10px;
    height: 100%;
}

.logo {
    Font-family: Righteous;
    Font-style: Regular;
    Font-size: 44px;
    Line-height: 55px;
    Line-height: 100%;
    Letter-spacing: -1.2%;
    color: white;
}

.slogan{
    Font-style: Regular;
    Font-size: 18px;
    Line-height: 21px;
    Line-height: 100%;
    color: white;
}

/* Divisória entre topo e conteudo principal */

.selecionado{
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25), inset 0px 0px 0px 5px #32B72F;
}

.icone{
    color: #32B72F;
    display: none;
    Width: 15.44px;
    Height: 15.44px;
}


.selecionado .icone{
    display: initial;
}


.container-principal {
    width: 100%;
    margin: 92px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.meal {
    width: inherit;
    display: flex;
    flex-direction: column;

}

.card-container{
    overflow-x: scroll;
    display: flex;
    gap: 20px;
    
}

.title h1 {
    font-family: Righteous;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.018em;
    text-align: left;    
    margin: 10px 0;
} 


.meal-card{
    box-sizing: border-box;
    height: 216px;
    width: 172px;   
    border-radius: 9px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 5px;
}

.meal-card h2{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    width: 144px;
    
}

.meal-card p {
    width: 144px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0em;
    
}

img {
    border-radius: 4px;
    width: 144px;
    height: 87px;
}

.preco {
    width: 144px;
    text-align: left;
    display: flex;
    justify-content: space-around;

}

.preco p{
    width: 144px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}


.footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 92px;
    background-color: white;

}

.footer-conteudo {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fechar-pedido {
    text-align: center  ;
    height: 53px;
    width: 95vw;
    background-color: #CBCBCB;
    color: white;
    border-radius: 50px;
    border: none;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.018em;
    text-align: center;
}
.button-selecionado{
    background-color: #32B72F;
}